<!doctype html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{index}">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MINI Bank GSIT</title>
</head>

<body>

	<div layout:fragment="content">
		<div class="content">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<strong>Form Ubah Pegawai</strong>
							</div>
							<div class="card-body card-block">
								<form method="post" th:action="@{update}" th:object="${pegawai}" class="form-horizontal">
									<div class="row form-group">
										<div class="col col-md-2">
											<label class="form-control-label"><b>ID Pegawai</b></label>
										</div>
										<div class="col-12 col-md-9">
											<input type="text" id="idpegawai" name="idpegawai" th:field="*{idPegawai}" class="form-control" disabled="disabled">
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-2">
											<label for="text-input" class="form-control-label"><b>Nama Depan</b></label>
										</div>
										<div class="col-12 col-md-9">
											<input type="text" id="namadepan" name="namadepan" th:field="${pegawai.firstName}" class="form-control" disabled="disabled">
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-2">
											<label for="text-input" class="form-control-label"><b>Nama Belakang</b></label>
										</div>
										<div class="col-12 col-md-9">
											<input type="text" id="namabelakang" name="namabelakang" th:field="${pegawai.lastName}" class="form-control" disabled="disabled">
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-2">
											<label for="text-input" class="form-control-label"><b>Jenis Kelamin</b></label>
										</div>
										<div class="col-12 col-md-9">
											<input type="text" id="jeniskelamin" name="jeniskelamin" th:field="*{jenisKelamin}" class="form-control" disabled="disabled">
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-2">
											<label for="text-input" class="form-control-label"><b>Tanggal Lahir</b></label>
										</div>
										<div class="col-12 col-md-9">
											<input type="text" id="npwp" name="npwp" th:field="${pegawai.tanggalLahir}" class="form-control" disabled="disabled">
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-2">
											<label for="text-input" class="form-control-label"><b>Tempat Lahir</b></label>
										</div>
										<div class="col-12 col-md-9">
											<input type="text" id="nik" name="nik" th:field="${pegawai.tempatLahir}" class="form-control" disabled="disabled">
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-2">
											<label for="text-input" class="form-control-label"><b>Agama</b></label>
										</div>
										<div class="col-12 col-md-9">
											<input type="text" id="agama" name="agama" th:field="${pegawai.agama}" class="form-control" disabled="disabled">
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-2">
											<label for="text-input" class="form-control-label"><b>No Telepon</b></label>
										</div>
										<div class="col-12 col-md-9">
											<input type="text" id="notelepon" name="notelepon" th:field="*{phoneNumber}" maxlength="13">
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-2">
											<label for="text-input" class=" form-control-label"><b>Alamat</b></label>
										</div>
										<div class="col-12 col-md-9">
											<textarea cols="30" rows="3" th:field="*{alamat}" maxlength="150" required></textarea>
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-2">
											<label for="text-input" class=" form-control-label"><b>Jabatan</b></label>
										</div>
										<div class="col-12 col-md-9">
											<select th:field="*{idJabatan}">
												<option th:each="jabatan : ${daftarJabatan}" th:value="${jabatan.idJabatan}" th:text="${jabatan.namaJabatan}"></option>
											</select>
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-2">
											<label for="text-input" class="form-control-label"><b>Tanggal Masuk</b></label>
										</div>
										<div class="col-12 col-md-9">
											<input type="text" id="namaibu" name="namaibu" th:field="${pegawai.tanggalMasuk}" class="form-control" disabled="disabled">
										</div>
									</div>
									<input type="hidden" name="idPegawai" th:value="${idPegawai}" />
									<input type="submit" class="btn btn-success" value="Ubah" />
									<td><a href="/pegawai" class="btn btn-info" role="button">Kembali</a></td>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

</body>
</html>