<!doctype html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{index}">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MINI Bank GSIT</title>
</head>

<body>

	<div layout:fragment="content">
		<div class="content">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-header">
								<strong>Form Ubah User</strong>
							</div>
							<div class="card-body card-block">
								<form method="post" th:action="@{${userId}}" th:object="${userSelected}" class="form-horizontal">
									<div class="row form-group">
										<div class="col col-md-2">
											<label class=" form-control-label"><b>User ID</b></label>
										</div>
										<div class="col-12 col-md-9">
											<label class=" form-control" th:text="${userId}"></label>
										</div>
									</div>
									<div class="row form-group">
										<div class="col col-md-2">
											<label for="text-input" class=" form-control-label"><b>Password</b></label>
										</div>
										<div class="col-12 col-md-9">
											<input type="password" id="password" name="password" th:field="*{password}" placeholder="" class="form-control">
										</div>
									</div>
									<input type="hidden" th:field="*{idUser}" th:value="${idUser}" />
									<input type="submit" class="btn btn-success" value="Ubah" />
									<td><a href="/UserPegawai" class="btn btn-info" role="button">Kembali</a></td>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="clearfix"></div>

</body>
</html>